@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

:root {
    --primary: #F55601;
    --white: #fff;
    --light-gray: lightgray;
    --hover: #FF962D;
}

* {
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--white);
}

body,
html {
    width: 100%;
    height: 100%;
}

nav {
    width: 100%;
    padding: 2rem;
    background-color: var(--primary);
}

.navbar--active {
    color: var(--light-gray);
    text-decoration: underline;
    text-underline-offset: 2rem;
}

nav li {
    color: var(--white);
}

nav li a:hover {
    cursor: pointer;
    color: var(--light-gray);
}

.nav-item-logo {
    width: 20%;
}

.nav-item-letters {
    width: 30%;
}


.welcome-page {
    background: linear-gradient(rgba(0, 0, 0, .1),
            rgba(0, 0, 0, .5)), url('/public/picture/background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70px;
}

.input-group {
    border: 1px solid var(--light-gray);
    padding: 1rem;
}

.primary-btn {
    background-color: var(--primary);
    color: var(--white);
    padding: .5rem;
    border-radius: 5px;
}

.primary-btn:hover {
    background-color: var(--hover);
    transition: ease-in-out 150ms;
}